{% extends "base.html" %}

{% block content %}

<style>
    { margin: 0; padding: 0; }

body {
    background: url( "static/images/{{image}}" ) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>


<head>
    <title>{{ title }} -Weight Loss Challenge</title>
</head>
<body>
    {% if current_user.is_authenticated %}
    <h1>Hello, {{ current_user.first_name }}!</h1>
    {% else %}
    <h1>Williamson Family Weight Loss Challenge!</h1>
    {% endif %}
    <br>
    <div style="width:800px; margin:0 auto;text-align:center">
      <h2>Contest ends in {{days_left}} days!</h2>
      {% if leaders|length==1 %}
      <h2>{{leaders[0]}} is in the lead!</h2>
      {% elif leaders|length >1 %}
      <h2>{{leaders|join(', ')}} share the lead!</h2>
      {% endif %}
    </div>
</body>
{% endblock %}
