{% extends "base.html" %}

{% block content %}
    <h1>Weigh In</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.timestamp.label }}<br>
            {{ form.timestamp(size=32) }}<br>
            {% for error in form.timestamp.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.weight.label }}<br>
            {{ form.weight(size=32) }}<br>
            {% for error in form.weight.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}